

<html>
    <head>


</head>
<body>
    {{>seller_header}}

          <div class="col-md-offset-3  col-md-6"style='margin-top:15px;'>
          
        
        

          
             <form action='/product' method='POST' class="row" id='productform' style="background-color:white;">
                    <h5  style="background-color: #1da0f2;padding:12px;text-align:center;color:lightgrey;font-size:15px;">Add Product to {{shopname}}</h5>
             <div class="form-group col-sm-12">
                  <label for="product-category">Category</label>
                  <p id='e-error' style='color:red;border:1px solid lightgrey;padding:3px;margin:5px;background-color:lightpink;display:none;'></p> 
                  <select class="form-control" id='product-category' name='product_category'>
                     <option selected disabled>Select Category</option>
                  </select>
                </div>
             <div class="form-group col-sm-12">
                  <label for="product-name">Product</label>
                  <p id='e-error' style='color:red;border:1px solid lightgrey;padding:3px;margin:5px;background-color:lightpink;display:none;'></p> 
                  <select class="form-control" id='products' name='product'>
                     <option selected disabled>Select Products</option>
                  </select>
                </div>
                <div id="sub-category-div">

                </div>
               
                 <div class="form-group col-sm-3">
                  <label for="gst">Gst</label>
                  <input type="number" class="form-control" name='gst' id="gst" placeholder="Gst(%)">
                </div>
                
                <div class="form-group col-sm-4">
                  <label for="price">Price</label>
                  <input type="number" class="form-control" name='price' id="price" placeholder="Price*">
                </div>
                <div class="form-group col-sm-4">
                  <label for="total_price">total Price(gst)</label>
                  <input type="text" class="form-control" id="total_price" name="total_price" placeholder="Total Price" readonly>
                </div>
                <div class="form-group col-sm-12">
                  <label for="batchid">batch id</label>
                  <input type="text" class="form-control" name='batchid' id="batchid" placeholder="Batch Id">
                </div>
                
               <button type="submit" class="btn btn-primary" id='add-product' style="margin:20px;">Add Product</button>
    
            
            </form> 
           
       </div>
        
<script src="./jquery.min.js"></script>
<script src="./file.js"></script>

  <script>
    $(document).ready(function(){
      $(document).on('click','.error-icon',function(){
        $('#e-error').hide();
      })
           $.ajax({
            url:'/load-all-category',
            type:'POST',
            success:function(data){
                    data.forEach(element=>{
                        $('#product-category').append(`<option value=${element._id}>${element.categoryname}</option>`)
                       
                    })
            
           }
        });
      $('#product-category').change(function(){
      let id=$(this).val();
      $.ajax({
            url:'/load-all-products',
            type:'POST',
            data:{id},
            success:function(data){
            
                    data.forEach(element=>{
                        $('#products').append(`<option value=${element._id}>${element.product}</option>`)
                    })
      
           }
        });
      
      })
        
        $('#productform').submit(function(e){
         let product=$('#products').val();
         let batchid=$('#batchid').val();

          if(product==undefined || product==''){
            e.preventDefault();
              document.getElementById('e-error').innerHTML=`<span class='error-icon' 
          style='margin-right:40%;cursor:pointer'>X</span><span>Select Product</span>`;
         $('#e-error').css("display","block");  
        return   
          }
          if(batchid==undefined || batchid==''){
             e.preventDefault();
              document.getElementById('e-error').innerHTML=`<span class='error-icon' 
          style='margin-right:40%;cursor:pointer'>X</span><span>Batch Id can't be blank </span>`;
         $('#e-error').css("display","block");  
        return 
          }
         
        })
         $('#product-category').change(function(){
        let id=$(this).val();
        $.ajax({
          url:'/load-single-sub-category',
          type:'POST',
          data:{id},
          success:function(data){
            let sub_category='';
            console.log(data);
            
            let a=true
            let ab=true;
            let cnt=0;
            let i=0;
            data.forEach(sub_title=>{
              
                  while(a){
                    console.log(sub_title)
                    let cat_name=sub_title.subcategory.category_name[i];
                          if(cat_name=='' || cat_name==undefined){
                           a=false
                          }else{
                          sub_category=sub_category.concat(`<div class="form-group col-sm-6 sub1">
                            <input type='hidden' name='category_name' value=${sub_title.subcategory.category_name[i]}>
                            <label>Select ${sub_title.subcategory.category_name[i]}</label>
                            <select name='sub_category' id='sub_category' class="form-control">
                            <option selected disabled>Select ${sub_title.subcategory.category_name[i]}</option>`);
                           i++; 
                           
                          while(ab){

                          let cat_value=sub_title.subcategory.category_value[cnt];
                          console.log(`${cat_value} ${cnt}`);
                          if(cat_value=='' || cat_value==undefined){
                            a=false;
                          }else{
                            let sub_value=cat_value.split(',');
                            sub_value.forEach(val=>{
                                sub_category=sub_category.concat(`<option value='${val}'>${val}</option>`);
                               
                            });
                            cnt++;
                          }
                          break;
                          }
                          }        
                            
                           sub_category=sub_category.concat(`</select>
                           </div>`);               
                  }
            })
            console.log(sub_category);
       $('#sub-category-div').html(sub_category);
          }

        })
      })
      
    });

</script>
</body>
</html>