

<html>
    <head>

{{>uploadcss}}
</head>
<body>
    {{>admin_header}}
    
        
  

      <!-- Tab panes -->
       
           <div class=" col-lg-offset-3 col-md-6">
             
          <div class="modal-body">
             <div class="row" style="background-color:#1E90FF;color:lightgrey;">       
             <h5 style="text-align:center;font-size:25x;">Add Product</h5>
          </div>
            <form action='/admin-product' method='POST' enctype="multipart/form-data" class="row" id='productform' style="background-color: white;">
             <div class="form-group col-sm-12 ">
               <label>Select Category</label>
               <select name='categoryname' id='category' class="form-control">
                 <option selected disabled>Select Category</option>
               </select>
             </div>
                   

             <div class="form-group col-sm-12">
                  <label for="product-name">Product</label>
                  <input type="text" class="form-control" name='product' id="address-one" placeholder="Add products">
                </div>
                
             <div class="row"> 
                 <div id="upload_button" class="col-md-2" style="margin-top:0px;margin-right:10px;">
                       <label id='uploadlabel'>
	                       
                          <i class="fa fa-plus"></i>
                          <input type="file" id='input' name='images' multiple/>
                        
                         </label>
                 </div>
                          <p id='upload-error'></p>

                       <div id='images' class="col-md-9">

                        </div>
            </div>
          
                    <button type="submit" class="btn btn-primary" style='item-align:center;' id='add-product'>Add Product</button>
    
            
            </form>
           
       
        </div>
      
<script src="./jquery.min.js"></script>
<script src="./file.js"></script>

  <script>
    $(document).ready(function(){
        $.ajax({
            url:'/load-all-category',
            type:'POST',
            success:function(data){
                    data.forEach(element=>{
                        $('#category').append(`<option value=${element._id}>${element.categoryname}</option>`)
                    })
              }
        });
     
      
    });

</script>
</body>
</html>