

<html>
    <head>

{{>uploadcss}}
</head>
<body>
    {{>seller_header}}
    
        
    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
  

      <!-- Tab panes -->

        <div role="tabpanel" class="tab-pane" id="register">
          <div class="modal-header">
            <h5>Add Product to {{shopname}}</h5>
          </div>
          <div class="modal-body">
            <form action='/product' method='POST'  class="row" id='productform'>
        
             <div class="form-group col-sm-12">
                  <label for="product-name">Product</label>
                  <p id='e-error' style='color:red;border:1px solid lightgrey;padding:3px;margin:5px;background-color:lightpink;display:none;'></p> 

                 <select class="form-control" id='products'name='product'>
                   <option selected disabled>Select Products</option>
                 </select>
                </div>
                    <div class="form-group col-sm-12">
               
                  
                </div>
                <div class="form-group col-sm-12">
                  <label for="batchid">batch id</label>
                  <input type="text" class="form-control" name='batchid' id="batchid" placeholder="Batch Id">
                </div>
                
             
             
             
                    <button type="submit" class="btn btn-grey" id='add-product'>Add Product</button>
    
            
            </form>
           
       
        </div>
      </div>
    </div>
  </div>
<script src="./jquery.min.js"></script>
<script src="./file.js"></script>

  <script>
    $(document).ready(function(){
      $(document).on('click','.error-icon',function(){
        $('#e-error').hide();
      })
        $.ajax({
            url:'/load-all-products',
            type:'POST',
            success:function(data){
            
                    data.forEach(element=>{
                        $('#products').append(`<option value=${element._id}>${element.product}</option>`)
                    })
      
           }
        });
        $('#productform').submit(function(e){
         let product=$('#products').val();
         let batchid=$('#batchid').val();

          if(product==undefined || product==''){
            e.preventDefault();
              document.getElementById('e-error').innerHTML=`<span class='error-icon' 
          style='margin-right:40%;cursor:pointer'>X</span><span>Select Product</span>`;
         $('#e-error').css("display","block");  
        return   
          }
          if(batchid==undefined || batchid==''){
             e.preventDefault();
              document.getElementById('e-error').innerHTML=`<span class='error-icon' 
          style='margin-right:40%;cursor:pointer'>X</span><span>Batch Id can't be blank </span>`;
         $('#e-error').css("display","block");  
        return 
          }
         
        })
      
    });

</script>
</body>
</html>