

<html>
    <head>

{{>uploadcss}}
</head>
<body>
    {{>seller_header}}
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
					

	
				</div>
                <div class="col-md-10">
                  <!-- post-container -->
                    <div class="post-container col-md-12">
                        <div class="post-content single-post">
                            
                            <div class="post-information">
                                
                               
                            </div>
                           
                           <form method="POST" class="signup-form">
                    <h3>Add Product</h3>
                    <hr>
                    

                    <div class="form-textbox">
                        <label for="productname">Product Name</label>
                        <input type="text" name="productname" id="productname" />
                    </div>

                    <div class="form-textbox">
                        <label for="batch">Batch Id</label>
                        <input type="text" name="batch" id="batch" />
                    </div>
                    
                    <div class="form-textbox">
                        <label for="des">description</label>
                        <input type="text" name="des" id="des" />
                    </div>
                    


                    <div class="form-textbox">
                        <label for="pass">Price</label>
                        <input type="text" name="price" id="price" />
                    </div>
                    
                    <div class="form-textbox">
                        <label for="gst">Gst</label>
                        <input type="text" name="gst" id="gst" />
                    </div>
                    
                     
	               <div id="upload_button">
                       <label>
                       <input type="file"   onchange="uploadFiles(event);" multiple>
                       <span class="btn btn-primary">Upload Imges</span>
                       </label>
                       <div id='upload-container'>
	                     <img src="" alt="" data-id=0 id="i1" onclick='removeImg(event);'>
                       </div>
                       <div id='upload-container' >
	                     <img src="" alt="" data-id=1  id="i2" onclick='removeImg(event);'>
                       </div>
                       <div id='upload-container' >
	                     <img src="" alt="" data-id=2  id="i3" onclick='removeImg(event);'>
                       </div>
                       <div id='upload-container'>
		                 <img src="" alt="" data-id=3 id="i4" onclick='removeImg(event);'>
                       </div>
                       <div id='upload-container'>
 	                  	 <img src="" alt="" data-id=4 id="i5"onclick='removeImg(event);' >
                       </div>
                 </div>
                  <br>
                    
                <input type="submit" name="submit" id="submit" class="submit" value="Save" />
                    
                </form>
                        </div>
                    </div>
                    <!-- /post-container -->
                </div>
               
            </div>
        </div>
    </div>


 <script src="./jquery.min.js"></script>
<script src="./file.js"></script>
</body>
</html>