

<html>
    <head>

{{>uploadcss}}
</head>
<body>
    {{>seller_header}}
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
					

	
				</div>
                <div class="col-md-10">
                  <!-- post-container -->
                    <div class="post-container col-md-12">
                        <div class="post-content single-post">
                            
                            <div class="post-information">
                                
                               
                            </div>
                           
                           <form method="POST" class="signup-form">
                    <h3>Add Product</h3>
                    <hr>
                    

                    <div class="form-textbox">
                        <label for="productname">Product Name</label>
                        <input type="text" name="productname" id="state" />
                    </div>

                    <div class="form-textbox">
                        <label for="batch">Batch Id</label>
                        <input type="text" name="batch" id="city" />
                    </div>
                    
                    <div class="form-textbox">
                        <label for="des">description</label>
                        <input type="text" name="des" id="code" />
                    </div>
                    


                    <div class="form-textbox">
                        <label for="pass">Price</label>
                        <input type="text" name="address" id="address" />
                    </div>
                    
                    <div class="form-textbox">
                        <label for="num">Mobile No.</label>
                        <input type="text" name="num" id="num" />
                    </div>
                     
					 <div class="form-textbox">
              <div class="center">      
                  <div class="form-input">
                      <label for="file-ip-1"><i class="fa fa-plus"></i></label>
                      <input type="file" id='file-ip-1' style="display: none;" accept="image/*" onchange="showpreview(event);">
                     <div class="preview">
                         <img src="" alt="" id='file-ip-1-preview'>
                     </div>
                     
                  </div>
              </div>

                <div class="center">
                  <div class="form-input">
                      <label for="file-ip-1"><i class="fa fa-plus"></i></label>
                      <input type="file" id='file-ip-1' style="display: none;" accept="image/*" onchange="showpreview(event);">
                     <div class="preview">
                         <img src="" alt="" id='file-ip-2-preview'>
                     </div>
                     
                  </div>
              </div>
              <div class="center">
                  <div class="form-input">
                      <label for="file-ip-1"><i class="fa fa-plus"></i></label>
                      <input type="file" id='file-ip-1' style="display: none;" accept="image/*" onchange="showpreview(event);">
                     <div class="preview">
                         <img src="" alt="" id='file-ip-3-preview'>
                     </div>
                     
                  </div>
              </div>
                <div class="center">
                  <div class="form-input">
                      <label for="file-ip-1"><i class="fa fa-plus"></i></label>
                      <input type="file" id='file-ip-1' style="display: none;" accept="image/*" onchange="showpreview(event);">
                     <div class="preview">
                         <img src="" alt="" id='file-ip-4-preview'>
                     </div>
                     
                  </div>
              </div>
                <div class="center">
                  <div class="form-input">
                      <label for="file-ip-1"><i class="fa fa-plus"></i></label>
                      <input type="file" id='file-ip-1' style="display: none;" accept="image/*" onchange="showpreview(event);">
                     <div class="preview">
                         <img src="" alt="" id='file-ip-5-preview'>
                     </div>
                     
                  </div>
              </div>

        
    
                   </div>
                        <br>
                    <input type="submit" name="submit" id="submit" class="submit" value="Save" />
                    
                </form>
                        </div>
                    </div>
                    <!-- /post-container -->
                </div>
               
            </div>
        </div>
    </div>



<script src="./file.js"></script>
</body>
</html>