<html>
    <head>
{{>styleing}}

</head>
<body>
    {{>admin_header}}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  <!-- post-container -->
                  
                           <a href="/add-products" class='add-new-category' >Add Product</a>
                      
                    <div class="post-container" style="margin-bottom: 20px;">
                        
                        <div class="det">
                     
                      
                         
                        </div>
                            <h4 id='product-tit' style="text-align: center;"></h4>
                    <hr>
                    <div id='categorys'>

                    </div>
                              
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
      <script src='./jquery.min.js'></script>
    <script>
      $(document).ready(function(){
         
         const loadcategorys=()=>{
           
             let c=1;
         
             $.ajax({
                 url:'/products',
                 type:'POST',
                 success:function(data){
                
 let output="<table id='description-table'style='margin:auto;'><tr><th>Sr No</th><th>Product Name</th><th>Description</th><th>Gst</th><th>Price</th><th>Net Price</th><th>Picture</th><th>view</th></tr>";
                    data.forEach(element=>{
                          
                    output=output.concat(`<tr>
                                        <td>${c}</td>
                                        <td>${element.product}</td>
                                        <td>${element.product_cat}</td>
                                        <td>${element.gst}</td>
                                        <td>${element.price}</td>
                                        <td>${element.total_price}</td>
                                        <td><img src='${element.images[0]}'></td>
                                        <td> <a href="/edit-product?id=${element._id}">Edit</a>
                                             <a href="#" id='delete-product' data-id=${element._id}>Del</a>
                                        </td>
                                    </tr>`);
                                    c++;
                     })
                    output=output.concat('</table>');
            
                   $('#categorys').html(output);  

                 }
             })
         } 
         loadcategorys(); 
         $(document).on('click','#delete-product',function(){
              let id=$(this).data('id');
              let ans=confirm('are you sure you want to remove this item');
              if(ans){
                  $.ajax({
                       url:'/delete-products',
                       type:"POST",
                       data:{id},
                       success:function(data){
                        if(data){
                            loadcategorys();
                        }
                       }
                  })
              }
         })
      });
    </script>
</body>
</html>
