

<html>
    <head>


</head>
<body>
    {{>admin_header}}
    
        
    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
  

      <!-- Tab panes -->

        <div role="tabpanel" class="tab-pane" id="register">
          <div class="modal-header">
            <h5><b>Edit category</b></h5>
          </div>
          <div class="modal-body">
            <form action='/updated-category' method='POST'  class="row" id='productform'>
                {{#each category}}
                <div class="form-group col-sm-12">
                  <label for="product-name">Product name</label>
                 
                  <input type="hidden" id='categoryid' name="categoryid" value="{{this._id}}"/>
                 
                  <input type="hidden" id='productid' name="productid" value="{{this.productId}}"/>
                 <select class="form-control" id='products'name='product'>
                
                 </select>
                </div>
             
                    <div class="form-group col-sm-12">
                  <label for="category">Category</label>
                  <input type="text" class="form-control" value='{{this.categoryname}}' name="category" id="company-name" placeholder="Add category*">
                </div>
                  <div class="form-group col-sm-12">
                  <label for="description">Description</label>
                  <input type="text" class="form-control" value='{{this.decription}}' name="description"  placeholder="Add Decription*" >
                </div>
               
            <br>
              <div class="modal-footer">
                    <button type="submit" class="btn btn-grey create-account" id='add-product'>Update Product</button>
    
              </div>
              {{/each}}
            </form>
           
          </div>
        </div>
      </div>
    </div>
  
<script src="./jquery.min.js"></script>
<script>
    $(document).ready(function(){
        let productId=$('#productid').val();
        $.ajax({
            url:'/load-all-category',
            type:'POST',
            success:function(data){
                    data.forEach(element=>{
                        if(productId==element._id){
                            $('#products').append(`<option value=${element._id} selected>${element.productname}</option>`);
                        }else{
                        $('#products').append(`<option value=${element._id}>${element.productname}</option>`)
                        }
                    })
      
           }
        });
    });
</script>
</body>
</html>