<html>

<head>
{{>styleing}}

</head>
<body>
 {{>login}}   
{{>header}}
 {{!-- output=`<h5 style='text-align:center; '>${mm}-${y}</h5><hr>` --}}
    <div id="main-content">
      <div class="container-fluid">
        <div class="row">
          
            <div class="col-md-12">
             
        </form>
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">History of Your Orders</h2>
                    <div class="post-content order-shop-div">
                        <div class="row">


                            <div class="col-md-12">
                            
                    
                   <a class="read-more pull-left"   href="#">Get Bill</a>

                </div><!-- /post-container -->
            </div>
     
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </body>
    {{>footer}}
    <script src="./jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        
        $.ajax({
          url:'/order-history',
          type:"POST",
          success:function(data){
             let uniqueshop=Array();
            let uniquedates=Array();
            let output=''
                data.forEach(shop=>{ 
               if(!uniqueshop.includes(shop.shopId.shopname)){
                  uniqueshop.push(shop.shopId.shopname);
                 }
                })
            data.forEach(dates=>{
              if(!uniquedates.includes(dates.date_time)){
                uniquedates.push(dates.date_time)
              }
            })
              let c=0
           uniquedates.forEach(shopdate=>{
              let date=shopdate.split('||');
                  let year=date[1].split('/')
                  let y=year[2];
                  let month=year[1];
                  let day=year[0];
                     
             output=output.concat(`<h4 style='text-align:center'>${month}/${y}</h4><hr>`);
             data.forEach(shopdata=>{
               let subdate=shopdata.date_time.split('||');
                     let subyear=subdate[1].split('/');
                     let suby=subyear[2];
                     let subm=subyear[1];
                     let subd=subyear[0];
                     let shopname
             if(y==suby &&  month==subm && day==subd){
                   
                   data.forEach(shop=>{
                      let sdate=shop.date_time.split('||');
                      let syear=sdate[1].split('/');
                      let sy=syear[2];
                      let sm=subyear[1];
                      let sd=subyear[0];
                    if(y==sy &&  month==sm && day==sd){
                        if(shopname==shop.shopId.shopname){
                            output=output.concat(`<tr>
                             <td>${1}</td>
                             <td><img src='${shop.productId.images[0]}' style='width:5rem;height:5rem;'></td>
                             <td>${shop.productId.product}</td>`);  
                             if(!shop.sub_category.category_name=='kg' || shop.sub_category.category_name=='KG'){
                               shop.sub_category.category_value.forEach(val=>{
                               output=output.concat(`<td>${val}</td>`)
                               console.log(val)
                               })  
                             }else{
                               output=output.concat(`<td>${shop.sub_category.category_value[0]}</td>`)
                              }
                             let orderDate=shop.date_time
                             orderDate=orderDate.split('||');
                             orderDate=orderDate[1]; 
                             output=output.concat(`
                             <td>${orderDate}</td>`);
                             output=output.concat(`<td>${shop.price}</td>
                             <td>${shop.qty}</td>
                             <td><p style='padding:3px;background-color:lightgreen;width:60%;margin:auto;border-radius:5px;'>${shop.status}</p></td>
                             </tr>`)
                        }else{
                         let ct=1
                         shopname=shop.shopId.shopname
                         console.log(output);
                         output=output.concat(`<table id="shop-order-div">
                           <tr>
                           <th>Sr No</th>
                           <th>img</th>
                           <th>Product Name</th>`)
                           console.log(shop.sub_category.category_name)
                           if(ct==1){
                             if(!shop.sub_category.category_name=='kg'){
                               shop.sub_category.category_name.forEach(name=>{
                               console.log(name)
                               output=output.concat(`<th>${name}</th>`);  
                               })
                             }else{
                               shop.sub_category.category_name.forEach(name=>{
                               console.log(name)
                               output=output.concat(`<th>${name}</th>`);  
                              })
                            
                               } 
                            }
                          output=output.concat(`<th>Date</th><th>Price</th><th>Qty</th><th>Payment</th></tr>`);
                          output=output.concat(`<tr>
                          <td>${1}</td>
                          <td><img src='${shop.productId.images[0]}' style='width:5rem;height:5rem;'></td>
                          <td>${shop.productId.product}</td>`);  
                            
                         if(!shop.sub_category.category_name=='kg' || shop.sub_category.category_name=='KG'){
                              shop.sub_category.category_value.forEach(val=>{
                              output=output.concat(`<td>${val}</td>`)
                            })  
                         }else{
                             output=output.concat(`<td>${shop.sub_category.category_value[0]}</td>`)
                          }
                          let orderDate=shop.date_time
                          orderDate=orderDate.split('||');
                          orderDate=orderDate[1]; 
                          output=output.concat(`
                          <td>${orderDate}</td>`);
                             
                          output=output.concat(`<td>${shop.price}</td>
                          <td>${shop.qty}</td>
                          <td><p style='padding:3px;background-color:lightgreen;width:60%;margin:auto;border-radius:5px;'>${shop.status}</p></td>
                          </tr>`)
                    
                           ct++;
                       }
                       
                    }
                  })               
                   
                 
             }
             })
            
               
           })
           console.log(output)
            $('.post-content').html(output); 
         
          }
      })
      });
    </script>

</body>
</html>
