<html>

<head>
{{>styleing}}

</head>
<body>
 {{>login}}   
{{>header}}
 {{!-- output=`<h5 style='text-align:center; '>${mm}-${y}</h5><hr>` --}}
    <div id="main-content">
      <div class="container-fluid">
        <div class="row">
          
            <div class="col-md-12">
             
        </form>
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">History of Your Orders</h2>
                    <div class="post-content order-shop-div">
                        <div class="row">


                            <div class="col-md-12">
                            
                    
                   <a class="read-more pull-left"   href="#">Get Bill</a>

                </div><!-- /post-container -->
            </div>
     
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </body>
    {{>footer}}
    <script src="./jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        
        $.ajax({
          url:'/order-history',
          type:"POST",
          success:function(data){
      
                let output=''
                data.forEach(ele=>{
                
                  let shopname=''
                  let ct=1;
                  
                  let date=ele.date_time.split('||');
              
                  let year=date[1].split('/')
                  y=year[2];
                  let month=year[1];
                  let day=year[0];
                  data.forEach(subdata=>{      
                    let subdate=subdata.date_time.split('||');
                    let subyear=subdate[1].split('/');
                  
                    suby=subyear[2];
                    let subm=subyear[1];
                    let subd=subyear[0];
                    if(y==suby &&  month==subm && day==subd){
                      console.log(day);
                      data.forEach(shopdata=>{
                      if()
                      if(shopname==shopdata.shopId.shopname){
                        console.log(shopname);
                        output=output.concat(`<tr>
                        <td>${ct}</td>
                        <td><img src='${shopdata.productId.images[0]}' style='width:5rem;height:5rem;'></td>
                        <td>${shopdata.productId.product}</td>`);
                        shopdata.sub_category.category_value.forEach(val=>{
                          output=output.concat(`<td>${val}</td>`)
                        })  

                        let orderDate=shopdata.date_time
                        orderDate=orderDate.split('||');
                        orderDate=orderDate[1]; 
                        output=output.concat(`
                          <td>${orderDate}</td>`);
                             
                          output=output.concat(`<td>${shopdata.price}</td>
                          <td>${shopdata.qty}</td>
                          <td><p style='padding:3px;background-color:lightgreen;width:60%;margin:auto;border-radius:5px;'>${subdata.status}</p></td>
                         
                        </tr>`);
                      }
                      else{
                        console.log(shopname);
                        shopname=shopdata.shopId.shopname
                        output=output.concat(`<table id="shop-order-div">
                          <tr>
                          <th>Sr No</th>
                          <th>img</th>
                          <th>Product Name</th>`)
                          if(ct==1){
                            shopdata.sub_category.category_name.forEach(name=>{
                            output=output.concat(`<th>${name}</th>`);  
                            })
                          }
                          output=output.concat(`<th>Date</th><th>Price</th><th>Qty</th><th>Payment</th></tr>`);
                        
                      }
                      })
                    }
                    else{
                       date=subdata.date_time.split('||');
              
                      year=date[1].split('/')
                      y=year[2];
                       month=year[1];
                       day=year[0];
                    }
                     ct++;
                    })
                 
                })
           
                 output=output.concat('</table>');
               $('.post-content').html(output); 
           

          }
        })

      })
    </script>

</body>
</html>
