<html>

<head>
{{>styleing}}

</head>
<body>
 {{>login}}   
{{>header}}

    <div id="main-content">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
            <div class="col-md-8">
                 <form class="search-post" action="search.php" method ="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search .....">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
                </span>
            </div>
        </form>
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">History of Your Orders</h2>
                    <div class="post-content">
                        <div class="row">

                            <div class="col-md-4">
                                <a class="post-img" href='/single'><img src="images/post-format.jpg" alt=""/></a>
                            </div>
                            <div class="col-md-8">
                                <div class="inner-content clearfix">
                                    <h3><a href='/single'>product</a></h3>
                                  
                                           <table class='description-table'>
                              <tr>
                                <td><b>Product name</b></td>
                                <td>abc indursty</td>
                              </tr>
                              <tr>
                                <td><b>Shop name</b></td>
                                <td>gujrat</td>
                              </tr>
                              <tr>
                                <td><b>Description</b></td>
                                <td>mehsana</td>
                              </tr>
                        
                              <tr>
                                <td><b>Email Address</b></td>
                                <td>abc@gmail.com</td>
                              </tr>
                              <tr>
                                <td><b>Website</b></td>
                                <td>www.abc.com</td>
                              </tr>
                              <tr>
                                <td><b>contact No</b></td>
                                <td>987654321</td>
                              </tr>
                               <tr>
                                <td><b>Price</b></td>
                                <td>20,000</td>
                              </tr>
                              <tr>
                                <td><b>Date</b></td>
                                <td>wen,20-1-2020</td>
                              </tr>
                            </table>
                                   <br>
                                   
                                    <a class="read-more pull-left"   href="#">Get Bill</a>
                                    <a class='read-more pull-right' href='#'>Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    
                    
                   
                </div><!-- /post-container -->
            </div>
     
        </div>
      </div>
    </div>
</body>
</html>
