<html>

<head>
{{>styleing}}

</head>
<body>
 {{>login}}   
{{>header}}
 {{!-- output=`<h5 style='text-align:center; '>${mm}-${y}</h5><hr>` --}}
    <div id="main-content">
      <div class="container-fluid">
        <div class="row">
          
            <div class="col-md-12">
             
        </form>
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">History of Your Orders</h2>
                    <div class="post-content order-shop-div">
                     <div class="row" style="border-bottom: 2px solid black;">
                
                        <div class="col-md-12" style="padding:10px;border-bottom: 1px solid grey;">
                          <h4 style="text-align: center;">Shops Name</h4><br>
                         
                            <div class="col-md-offset-1 col-md-2" style="height: 12rem;">
                              <div ><img src="/images/bgimg.jpg" style="border-radius:5px;"></div>
                            </div>
                           <div class="col-md-6">
                           <h5><b>Product Name:</b>xyz</h5>
                           <h5><b>Category:</b></h5>
                           <h5><b>Date:</b></h5>
                           <h5><b>Qty:</b>&nbsp;&nbsp;&nbsp;&nbsp;<b>Price:</b></h5>
                           <h5></h5>
                           <h5></h5>
                           </div>

                       </div>
                         <div class="col-md-12" style="padding:10px;border-bottom: 1px solid grey;">
                          <div class="col-md-offset-1 col-md-2" style="height: 12rem;">
                              <div ><img src="/images/bgimg.jpg" style="border-radius:5px;"></div>
                            </div>
                           <div class="col-md-6">
                           <h5><b>Product Name:</b>:xyz</h5>
                           <h5><b>Category:</b></h5>
                           <h5><b>Date:</b></h5>
                           <h5><b>Qty:</b>&nbsp;&nbsp;&nbsp;&nbsp;<b>Price:</b></h5>
                           <h5></h5>
                           </div> 

                       </div>
                   
                     </div>
                </div><!-- /post-container -->
            </div>
     
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </body>
    {{>footer}}
    <script src="./jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        
        $.ajax({
          url:'/order-history',
          type:"POST",
          success:function(data){
          let output=''
     
          let uniqueshop=Array(); 
            data.forEach(shop=>{
               if(!uniqueshop.includes(shop.shopId.shopname)){
                  uniqueshop.push(shop.shopId.shopname);
               }
            })
         
           uniqueshop.forEach(ushop=>{
                 data.forEach(shop=>{
                   if(ushop==shop.shopId.shopname){
                     console.log(shopname);
                   }
                 })
           })
      
        }     
      });
      });
    </script>

</body>
</html>
