<html>

<head>
<link rel='stylesheet' href="css/style.css">kdlkddk

<link rel='stylesheet' href="css/bootstrap.min.css">

<link rel='stylesheet' href="css/font-awesome.css">
</head>
<body>
    
{{>header}}
    <div id="main-content">
      <div class="container">
        <div class="row">
            <div class="col-md-8">
                 <form class="search-post" action="search.php" method ="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search .....">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
                </span>
            </div>
        </form>
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">Shops in mehsana</h2>
                    <div class="post-content">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="post-img" href='/single'><img src="images/post-format.jpg" alt=""/></a>
                            </div>
                            <div class="col-md-8">
                                <div class="inner-content clearfix">
                                    <h3><a href='/single'>Shop Name</a></h3>
                                  
                                   <p class="description" ><i class="fa fa-address-book"  style="color:#1e90ff;"></i> &nbsp;
                                        s5,pooja aepartment,mehsana2,384002
                                    </p>
                                   
                                    <p class='description'><i class='fa fa-phone'></i>&nbsp;1234567890</p>
                                      <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
                                    </p>
                                    <a class='read-more pull-right' href='/single'>Open</a>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    
                    
                    <ul class='pagination'>
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                    </ul>
                </div><!-- /post-container -->
            </div>
            {{>sidebar}}
        </div>
      </div>
    </div>
</body>
</html>
