<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

     <!-- Main CSS-->
{{>styleing}}

</head>
<body>

    <div class="main">

        <h1>Login</h1>
        <div class="col-md-3"></div>
        <div class="container-fluid  ">
            <div class="login-up-content">
                <form method="POST" action="/login" class="signup-form">
                    <h3 class="form-title">Login</h3>
                    <hr>
                    

                 <br>

                    <div class="form-textbox">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" value="{{email}}"/>
                        <p class="error" id='email_error'><i class="fas fa-times"></i> {{error}}</p>
                    </div>

                    <div class="form-textbox">
                        <label for="pass">Password</label>
                        <input type="password" name="pass" id="pass" />
                        <p class='error' id='epass'><i class="fas fa-times"></i> {{error_pasword}}</p>
                    </div>

                    <hr>

                    <div class="form-textbox">
                        <input type="submit" name="submit" id="submit" class="submit" value="Login" />
                    </div>
                    <p class="loginhere"><a href="/signup">Create New Account</a></p>
                </form>

               
            </div>
        </div>

    </div>
    
</body>
</html>