<html>
    <head>
   {{>styleing}}

</head>
<body>
    {{>header}}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div id='order-msg'></div>
                    <div class="post-container">
                        <div class="post-content single-post">
                        
                    
                        </div>
                           </div> 
                        
                           <hr>
                      </div>
                    </div>
                    <!-- /post-container -->
               </div>
             </div>
        </div>
    </div>
    {{>footer}}
    </body>
    <script src="./jquery.min.js"></script>
    <script>
    function loadorder(){
     
        $.ajax({
            url:'/order',
            type:"POST",
            success:function(data){
              if(data==1){
              let msg=` <p id='order-msg' style="font-size:larger;
                        color:black;
                        border:1px solid #ddd ;
                        padding:10px;
                        text-align:center;
                        background-color:lightgrey;">You have not Ordered Yet</p> `;
                                         $('.single-post').html(msg);
                                         return;
              } 
              let output='';
              data.forEach(element=>{
           
                     output=output.concat("<div class='post-information container '><div class='order-img row'><div class='col-md-1 side-images'>");
                     element.productId.images.forEach(img=>{
                          output=output.concat(`<img class='view-img' src="${img}">`);
                        })
                    output=output.concat('</div>');
                    output=output.concat(`<div class="col-md-3 img-container">
                                          <img id='order-img' src="${element.productId.images[0]}">
                                          </div>
  
                                           <div class="col-md-5 orders-detail">
                                            <h3>${element.productId.product}</h3>
                                            <h4>${element.category.categoryname}</h4>
                                            <div class="sub_catagory_div">`);
                                              let sc=0;
                                              element.sub_category.category_name.forEach(name=>{
                                                output=output.concat(`<p>${name}:-${element.sub_category.category_value[sc]}</p>`)
                                                sc++;
                                              })
                                           
                                            output=output.concat(`</div>
                                            <p>Qty:-${element.qty}</p>
                                            <p>Rs.${element.price}</p>
                              
                                         <hr>
                                         <div class="col-md-12">
                                           <p> * only Cash on delivery</p>
                                           <p> * no return policy</p>
                                           <p> * extra delivery charges</p>   
                                         </div>
                                     <div class="col-md-12">
                                           <h4>Shop Details</h4>
                                           <p>${element.shopId.shopname}</p>
                                           <p>${element.shopId.city},${element.shopId.state}</p>
                                           <p>${element.shopId.address}</p>
                                           <p>${element.shopId.address2}</p>
                                           <p>${element.shopId.mobileNo}</p>


                                    
                                          
                                         </div>

                                        
                                         <a class="read-more pull-left cancle-order" data-id=${element._id}  href="#">Cancel Order</a>
                                         </div></div></div>`);
                     })
                  $('.single-post').html(output);
               }
          })    
    }
  loadorder();
    $(document).on('click','.view-img',function(){
            let src=$(this).attr('src');
            const order_img=document.getElementById('order-img');
            order_img.src=src;
    });
    $(document).on('click','.cancle-order',function(){
      let ans=confirm('Do you want to cancel this order');
      if(ans){
            let id=$(this).data('id');
            $.ajax({
              url:'/delete-order',
              type:'post',
              data:{id},
              success:function(data){
              
                loadorder();
                
            }
          })
      }
        });
</script>
</body>
</html>
