<html>
    <head>
{{>styleing}}

</head>
<body>
    {{>header}}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-12">
                  <!-- post-container -->
                    <div class="post-container">
                        <div class="post-content single-post">
                            
                            <div class="post-information container">
                               <div class="order-img row ">
                                   <div class="col-md-1 side-images">
                                        <img src="/images/post-format.jpg">
                                        <img src="/images/news.jpg">
                                   </div>
                        <div class="col-md-3 img-container">
                         <img src="/images/post_1.jpg">
                       
                               </div>
                               <div class="col-md-1"></div>
                               <div class="col-md-5 orders-detail">
                                   <p>Products name</p>
                                   <p>Decription about Products</p>
                                   <p>category</p>
                                   <p>Price</p>
                                   <p>Net Price(%)</p>
                                   <hr>
                                   <h4>Store Details</h4>
                                   <hr>
                                   <p>Stor name</p>
                                   <p>Address</p>
                                   <p>mobile no</p>
                                   <hr>
                                   <h4>Personal Details</h4>
                                   <hr>
                                   <p>Delivery Address</p>
                                 <a class="read-more pull-left"   href="#">Change Address</a>
                                 <br>
                                  <hr>                              
                                 <a class="read-more pull-left"   href="#">Cancle Order</a>
                               </div>
                               </div> 
                               
                            </div>
                           
                           
                        </div>
                    </div>
                    <!-- /post-container -->
                </div>
               
            </div>
        </div>
    </div>
</body>
</html>
