<html>
    <head>
{{>styleing}}

</head>
<body>
    {{>seller_header}}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  <!-- post-container -->
                  
                    <div class="post-container">
                         <h4>{{shopname}}</h4>
                        <div class="det">
                       
                      
                         
                        </div>
                            <h4 style="text-align: center;">view Orders(  <span>Date:28/2/2021</span>)</h4>
                    <hr>
                                <table id='description-table'>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Customer Name</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>Code</th>
                                        <th>State</th>
                                        <th>Mobile No.</th>
                                        <th>Product</th>
                                        <th>view</th>


                                    </tr>
                                       <tr>
                                        <td>1</td>
                                        <td>barot kunjan</td>
                                        <td>s5,pooja aepartmnet</td>
                                        <td>mehsana</td>
                                        <td>384002</td>
                                        <td>gujrat</td>
                                        <td>Mobile No.</td>
                                        <td>Product</td>
                                        <td><a href="/view-order">View</a></td>
                                    </tr>
                                        <tr>
                                        <td>1</td>
                                        <td>barot kunjan</td>
                                        <td>s5,pooja aepartmnet</td>
                                        <td>mehsana</td>
                                        <td>384002</td>
                                        <td>gujrat</td>
                                        <td>Mobile No.</td>
                                        <td>Product</td>
                                        <td><a href="/view-order">View</a></td>


                                    </tr>
                                </table>
                               
                        
                          
                            
                        </div>
                    
                    <!-- /post-container -->
                </div>
               
            </div>
        </div>
    </div>
</body>
</html>
