<html>
    <head>
{{>styleing}}

</head>
<body>
    {{>seller_header}}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  <!-- post-container -->
                  
                    <div class="post-container">
                         <h4>{{shopname}}</h4>
                        <div class="det">
                       
                      
                         
                        </div>
                            <h4 style="text-align: center;">view Orders(  <span>Date:28/2/2021</span>)</h4>
                    <hr>
                    <div class="order-shop-div">
                                
                                       
                    
                              
                    </div>           
                        
                          
                            
                        </div>
                    
                    <!-- /post-container -->
                </div>
               
            </div>
        </div>
       
    </div>
    <script src='./jquery.min.js'></script>
    <script>
        $(document).ready(function(){
            const loadorder=()=>{
                $.ajax({
                    url:'/shop-order',
                    type:"POST",
                    success:function(data){
                        let c=1;
                        let output=`<table id='shop-order'>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Customer Name</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Mobile No.</th>
                                        <th>Product</th>
                                        <th>Payment</th>
                                        <th>view</th>
                                        <th>Order</th>
                                    </tr>`;
                            data.forEach(element=>{
                                output=output.concat(`<tr>
                                    <td>${c}</td>
                                    <td>${element.userId.name}</td>
                                    <td>${element.customerId.Address},${element.customerId.area_code}</td>
                                    <td>${element.customerId.city}</td>
                                    <td>${element.customerId.state}</td>
                                    <td>${element.customerId.mobile_no}</td>
                                    <td>${element.productId.product}</td>`);
                                     if(element.payment=='Complete'){
                                    output=output.concat(`<td><button id='payment_btn' data-id='${element._id}' style='background-color:lightgreen'>${element.payment}</button></td>`);
                                     }else{
                                    output=output.concat(`<td><button id='payment_btn' data-id='${element._id}' style='background-color:tomato;'>${element.payment}</button></td>`);

                                     }
                                output=output.concat(`<td><a href='/order-details?id=${element._id}' data-id=${element._id}>Details</td>`);
                                     if(element.status=='Complete'){
                                   output=output.concat(`<td><button id='order-success' data-id=${element._id} style='background-color:lightgreen'>${element.status}</button></td> 
                                 </tr>`);
                                    }else{
                                   output=output.concat(`<td><button id='order-success' data-id=${element._id} style='background-color:tomato'>${element.status}</button></td> 
                                 </tr>`);  
                                    }
                                c++;
                            })
                            output=output.concat('</table>');
                            $('.order-shop-div').html(output);

                      
                    }
                })
            }
            loadorder();
            $(document).on('click','#payment_btn',function(){
                var id=$(this).data('id');
                  $.ajax({
                      url:'/payment',
                      type:"POST",
                      data:{id,msg:'Complete'},
                      success:function(data){
                      loadorder();
                      }
                  })
            })
            $(document).on('click','#order-success',function(){
                let oid=$(this).data('id');
                  $.ajax({
                      url:'/order-success',
                      type:'POST',
                      data:{oid},
                      success:function(data){
                          if(data==1){
                          loadorder();
                          }
                      }
                  })
            })

        })
    </script>
</body>
</html>
