<html>
    <head>
{{>styleing}}

</head>
<body>
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <!-- post-container -->
                    <div class="post-container">
                        <div class="post-content single-post">
                            <h3>view Orders</h3>
                            <div class="post-information">
                                <table id='description-table'>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Customer Name</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Mobile No.</th>
                                        <th>Product</th>


                                    </tr>
                                </table>
                               
                            </div>
                          
                            
                        </div>
                    </div>
                    <!-- /post-container -->
                </div>
               
            </div>
        </div>
    </div>
</body>
</html>
