<html>

<head>
{{>styleing}}

</head>
<body>
    
{{>seller_header}}
    <div id="main-content">
      <div class="container-fluid">
        <div class="row">
        
            <div class="col-md-12">
                 <form style='margin-top:5px;'class="search-post" action="#" method ="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search .....">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
                </span>
            </div>
        </form>
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">View Selling</h2>
                    <div class="post-content">
                        <div class="row">

                            <div class="col-md-2">
                                <a class="post-img" href='/single'><img src="images/post-format.jpg" alt=""/></a>
                            </div>
                            <div class="col-md-8">
                                <div class="inner-content clearfix">
                                    <h3><a href="">Product Name</a></h3>
                                      <p>Description</p>
                                      <p>Date</p>
                                      <br>
                                   

                                </div>
                            </div>
                            </div>
                           <hr>
                           <div class="row">

                            <div class="col-md-2">
                                <a class="post-img" href='/single'><img src="images/post-format.jpg" alt=""/></a>
                            </div>
                            <div class="col-md-8">
                                <div class="inner-content clearfix">
                                    <h3><a href="">Product Name</a></h3>
                                      <p>Description</p>
                                      <p>Date</p>
                                      <br>
                                   

                                </div>
                            </div>  
                        </div>
                    </div>
        
                    
                    
                   
                </div><!-- /post-container -->
            </div>
     
        </div>
      </div>
    </div>
</body>
</html>
