	{{>sh}}
    
<div class="inner-block">
    <div class="product-block">
    	<div class="pro-head">
    		<h2>Selling</h2>
    	</div>
<div class="post-content"></div>

      <div class="clearfix"> </div>
    </div>
</div>



</div>
</div>
<!--slider menu-->
   {{>sidebar}}
	<div class="clearfix"> </div>
</div>

<!--slide bar menu end here-->

<!--scrolling js-->
    <script src="./jquery.min.js"></script>
		<script src="./admin-js/jquery.nicescroll.js"></script>
    <script src="./admin-js/bootstrap.js"></script>
		<script src="./admin-js/scripts.js"></script>
		<script type="text/javascript" src="./admin-js/nivo-lightbox.min.js"></script>
      <script src='./jquery.min.js'></script>
      <script>
          $(document).ready(function(){
              const totalselling=()=>{
                  $.ajax({
                      url:'/total-selling',
                      type:'POST',
                      success:function(data){
                         
                          if(data.length!=0){
                          let output=''
                        data.forEach(element=>{

                            output=output.concat(`<div class="row">

                            <div class="col-md-1">
                                <a class="post-img" href='#'><img src="${element.productId.images[0]}" alt=""/></a>
                            </div>
                            <div class="col-md-8">
                                <div class="inner-content clearfix">
                                    <h4><a href="">${element.productId.product}</a></h4>
                                       <h4>${element.category.categoryname}</h4>
                                            <div class="sub_catagory_div">`);
                                              let sc=0;
                                              element.sub_category.category_name.forEach(name=>{
                                                output=output.concat(`<p>${name}:-${element.sub_category.category_value[sc]}</p>`)
                                                sc++;
                                              })
                                     output=output.concat(`</div><p>${element.date_time}</p>
                                      <h5>Customer Details</h5>
                                      <p>${element.userId.name}</p>
                                      <p><span>${element.customerId.city},${element.customerId.state}</span></p>
                                      <p>${element.customerId.Address}</p>
                                      <p>${element.customerId.mobile_no}</p>

                                      <br>
                                   

                                </div>
                            </div>
                            </div>
                           <hr>`)
                        })
                    $('.post-content').html(output);
                      }else{
              
                      $('.post-content').html(` <p id='e-error' style='text-align:center;border:1px solid lightgrey;padding:3px;margin:5px;background-color:lightgrey;'><span>You don't have Selling Yet</span></p>`);
                          
                      }
                      }
                     
                  })   
              }
              totalselling();
          })
      </script>
</body>
</html>
