<html>

<head>
{{>styleing}}

</head>
<body>
    
{{>seller_header}}
    <div id="main-content">
      <div class="container-fluid">
        <div class="row">
        
            <div class="col-md-12">
                 <form style='margin-top:5px;'class="search-post" action="#" method ="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search .....">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
                </span>
            </div>
        </form>
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">View Selling</h2>
                    <div class="post-content">
                   
                         
                    </div>
        
                    
                    
                   
                </div><!-- /post-container -->
            </div>
     
        </div>
      </div>
    </div>
      <script src='./jquery.min.js'></script>
      <script>
          $(document).ready(function(){
              const totalselling=()=>{
                  $.ajax({
                      url:'/total-selling',
                      type:'POST',
                      success:function(data){
                         
                          if(data.length!=0){
                          let output=''
                        data.forEach(element=>{
                            output=output.concat(`     <div class="row">

                            <div class="col-md-2">
                                <a class="post-img" href='#'><img src="${element.productId.images[0]}" alt=""/></a>
                            </div>
                            <div class="col-md-8">
                                <div class="inner-content clearfix">
                                    <h4><a href="">${element.productId.product}</a></h4>
                                      <p>${element.productId.product_cat}</p>
                                      <p>${element.date_time}</p>
                                      <h5>Customer Details</h5>
                                      <p>${element.userId.name}</p>
                                      <p><span>${element.customerId.city},${element.customerId.state}</span></p>
                                      <p>${element.customerId.Address}</p>
                                      <p>${element.customerId.mobile_no}</p>

                                      <br>
                                   

                                </div>
                            </div>
                            </div>
                           <hr>`)
                        })
                    $('.post-content').html(output);
                      }else{
              
                      $('.post-content').html(` <p id='e-error' style='text-align:center;border:1px solid lightgrey;padding:3px;margin:5px;background-color:lightgrey;'><span>You don't have Selling Yet</span></p>`);
                          
                      }
                      }
                     
                  })   
              }
              totalselling();
          })
      </script>
</body>
</html>
