<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration form</title>
    {{>styleing}}

</head>
<body>

    <div class="main">

        <h1>Sign up</h1>
        <div class="col-md-3"></div>
        <div class="container-fluid">
            <div class="sign-up-content">
                <form action="/signup" method="POST" class="signup-form">

                    <h3 class="form-title">Sign Up</h3>
                    <hr>
                  
                    <p>{{error}}</p>
                    <div class="form-textbox">
                        <label for="fname">Full name</label>
                        <input type="text" name="name" id="name" />
                    </div>

                    <div class="form-textbox">
                        <label for="email">Email</label>
                        <input type='text' name="email" id="email" />
                    </div>
                    <div class="form-textbox">
                        <label for="role">Role</label>
                        <select name="role">
                            <option selected disabled>Select Role</option>
                            <option value="0">Seller</option>
                            <option value='1'>Customer</option>
                        </select>
                    </div>

                    <div class="form-textbox">
                        <label for="pass">Password</label>
                        <input type="password" name="pass" id="pass" />
                    </div>
                    <div class="form-textbox">
                        <label for="pass">confirm Password</label>
                        <input type="password" name="cpass" id="cpass" />
                    </div>

                    <hr>

                    <div class="form-textbox">
                        <input type="submit" name="submit" id="submit" class="submit" value="Create account" />
                    </div>
                    <p class="loginhere">
                    Already have an account ?<a href="/login" class="loginhere-link"> Log in</a>
                </p>
                </form>

                
            </div>
        </div>

    </div>
    
</body>
</html>