<html>
    <head>
{{>styleing}}

</head>
<body>
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                  <!-- post-container -->
                    <div class="post-container">
                        <div class="post-content single-post">
                            <h3>Shop Name</h3>
                            <div class="post-information">
                                
                               
                            </div>
                            <img class="single-feature-image" src="images/post_1.jpg" alt=""/>
                            <table class='description-table'>
                              <tr>
                                <td><b>shop name</b></td>
                                <td>abc indursty</td>
                              </tr>
                              <tr>
                                <td><b>State</b></td>
                                <td>gujrat</td>
                              </tr>
                              <tr>
                                <td><b>city</b></td>
                                <td>mehsana</td>
                              </tr>
                              <tr>
                                <td><b>Address</b></td>
                                <td>tbroad,nr sarvodya bank,mehsana-2,3840002</td>
                              </tr>
                              <tr>
                                <td><b>Email Address</b></td>
                                <td>abc@gmail.com</td>
                              </tr>
                              <tr>
                                <td><b>Website</b></td>
                                <td>www.abc.com</td>
                              </tr>
                              <tr>
                                <td><b>contact No</b></td>
                                <td>987654321</td>
                              </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /post-container -->
                </div>
                {{>sidebar}}
            </div>
        </div>
    </div>
</body>
</html>
