<html>
    <head>
{{>styleing}}
{{>uploadcss}}

</head>
<body>
    {{>admin_header}}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                  <!-- post-container -->
                  

                      
                    <div class="post-container" style="margin-bottom: 20px;">
                           <h4 style="text-align: center;">Add Slider Images</h4>                      
                        <div class="det">
                          <div class="row" style="text-align: center;"> 
                            <div class="slider-images">
                              
                            </div>
                           
                          <div class='col-md-4'>
                           <form action='/add-sliderimg' method='POST' id='input-form' enctype="multipart/form-data">
                            <input type="file" name="images" multiple>
                            <input type="submit" class="btn btn-primary">
                          </form>
                          </div>
                          
                            </div>

                          </div>
                          
                         
                   
                              
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
      <script src='./jquery.min.js'></script>
      <script src="./slider.js"></script>
    <script>
           
       
           
        
    
    </script>
</body>
</html>
