<html>

<head>
{{>styleing}}

</head>
<body>
    
{{>seller_header}}
    <div id="main-content">
      <div class="container-fluid">
        <div class="row">
        
            <div class="col-md-12">
                 
         
            </div>
        </form>
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">product-list</h2>
                    <div class="post-content">
                           
                        <div class="row order-shop-div" style="margin-bottom:10px;border:1px solid #dddddd;padding:50px;">
                    
                  <p id='e-error' style='text-align:center;border:1px solid lightgrey;padding:3px;margin:5px;background-color:lightgrey;'></p> 
                        

                          
                    </div>
                                      
                                   

                                </div>
                            </div>
                           
                                                    
                             <hr style='width:100%;color:black;'>
                            </div>
                          
                          
                        </div>
                    </div>
        
                    
                    
                   
                </div><!-- /post-container -->
            </div>
     
        </div>
      </div>
    </div>
    <script src='./jquery.min.js'></script>
     <script>
         $(document).ready(function(){
            $.ajax({
                url:'/load-all-shop-products',
                type:'POST',
                success:function(data){
                
                  if(data.length!=0){
                    let c=1;
    
                let output=`<table id='shop-order'>
                            <tr>
                                <th>Sr.No</th>
                                <th>Product name</th>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Batch Id</th>
                                <th>img</th>
                                <th>Action</th>


                          </tr>`;
                data.forEach(element=>{
                    output=output.concat(`
                    <tr>
                      <td>${c}</td>
                        <td>${element.productId.product}</td>
                        <td>${element.productId.product_cat}</td>
                        <td>${element.productId.total_price}</td>
                        <td>${element.batchid}</td>
                        <td><img src='${element.productId.images[0]}' alt='product image' style='width:5rem;height:5rem;'> </td>
                        <td><a href='#'>Add more</a></td>
                    </tr>`);
                    c++;
                });
                  output=output.concat('</table>')
                  $('.order-shop-div').html(output);
                }else{
                   document.getElementById('e-error').innerHTML=`<span>You have not Added Products</span>`;
 
              }
              }
            });
         });
     </script>

</body>
</html>


















