<html>
<head>
  {{>styleing}}
</head>
{{>seller_header}}
<div class="main-post-container container">

<div id="sidebar" class="row">
    <!-- search box -->
    <div class="search-box-container col-md-12" style="margin-top: 10px;">
        
        <form class="search-post" action="search.php" method ="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search .....">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-danger">Search</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /search box -->
    <!-- recent posts box -->
   
    <div  class="row">
        <h3>Products</h3>
        <hr style="color: black;">
        <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4 col-xs-12">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
        <div  id='recent-post' class="col-md-4 col-xs-12">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
        <div  id='recent-post' class="col-md-4 col-xs-12">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
       
    <!-- /recent posts box -->
      </div>
   </div>
</div>

</body>
</html> 