<html>

<head>
{{>styleing}}

</head>
<body>
    
{{>seller_header}}
    <div id="main-content">
      <div class="container-fluid">
        <div class="row">
        
            <div class="col-md-12">
                 
         
            </div>
        </form>
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading">product-list</h2>
                    <div class="post-content">
                        <div class="row">

                            <div class="col-md-2">
                                <a class="post-img" href='/single'><img src="images/post-format.jpg" alt=""/></a>
                            </div>
                            <div class="col-md-8">
                                <div class="inner-content clearfix">
                                    <span id='post-details'>
                                       <table class="orders">
                                        <tr>
                                   <td>product Name</td>
                                   <td>flange</td>
                                   </tr>
                                         <tr>
                                   <td>Description</td>
                                   <td>adfghjkl qwertyuiozxcvbnm</td>
                                   </tr>
                    
                                        <tr>
                                   <td>Quantity</td>
                                   <td>22</td>
                                   </tr>
                                   <tr>
                                   <td>Price</td>
                                   <td>20000</td>
                                   </tr>
                                      <tr>
                                   <td>Gst(%)</td>
                                   <td>10%</td>
                                   </tr>
                                  
                                    <tr>
                                   <td>Total Price(Gst%)</td>
                                   <td>22000</td>
                                   </tr>
                                   
                                   </table> 
                                 </span>
                                 <hr>
                                 <input type="submit" value="Add more"/>
                                </div>
                                      <br>
                                   

                                </div>
                            </div>
                            </div>
                           <hr>
                          
                        </div>
                    </div>
        
                    
                    
                   
                </div><!-- /post-container -->
            </div>
     
        </div>
      </div>
    </div>
</body>
</html>


















{{!-- <html>
<head>
  {{>styleing}}
</head>
{{>seller_header}}
<div class="main-post-container container">

<div id="sidebar" class="row">
    <!-- search box -->
    <div class="search-box-container col-md-12" style="margin-top: 10px;">
        
        <form class="search-post" action="search.php" method ="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search .....">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-danger">Search</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /search box -->
    <!-- recent posts box -->
   
    <div  class="row">
        <h3>Products</h3>
        <hr style="color: black;">
        <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4 col-xs-12">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
        <div  id='recent-post' class="col-md-4 col-xs-12">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
        <div  id='recent-post' class="col-md-4 col-xs-12">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
         <div  id='recent-post' class="col-md-4">
             <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
             </a>
           <div  id='post-content'>
                <h5><a href="/product-list">flange</a></h5>
                <span>hari hardware</span>
                 <br>
                <span>
                Price:20,000
                </span><br>
                 
                  </div>
             </div>
       
    <!-- /recent posts box -->
      </div>
   </div>
</div>

</body>
</html>  --}}