<!DOCTYPE html>
<html lang="en">
    <head>
       {{>styleing}}
    </head>
    <body>
        <!-- HEADER -->
        <div id="header-admin">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-offset-3 col-md-5">
                       <div class="input-group">
                          <input type="text" name="search" id='search-input'class="form-control" style="width: 30rem;" placeholder="Search .....">
                          <span class="input-group-btn">
                        </span>
                       </div>
                 
                    </div> 
                    <div class="col-md-offset-3  col-md-1">
                    
            


                        <a href="/admin-logout" class="admin-logout" >Logout</a>
                        
                    </div>
                  
                   
                    <!-- /LOGO-Out -->
                </div>
            </div>
        </div>
        <!-- /HEADER -->
        <!-- Menu Bar -->
        <div id="admin-menubar">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                       <ul class="admin-menu">
                           <li>
                                <a href="/category">Category</a>
                            </li>
                           <li>
                                <a href="/admin">Products</a>
                            </li>
                            
                            <li>
                                <a href="/users">Users</a>
                            </li>
                            <li>
                                <a href="/add-admin">Admins</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                    <div class='col-md-1'>
                       
                    </div>
                     
                </div>
            </div>
        </div>
        <!-- /Menu Bar -->
