
<!DOCTYPE HTML>
<html>
<head>
<title>Shoppy an Admin Panel Category Flat Bootstrap Responsive Website Template | Product :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="./bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href="./magnific-popup.css">
<link href="./seller-style.css" rel="stylesheet" type="text/css" media="all"/>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
<!--//skycons-icons-->

</head>
<body>
    <div class="page-container">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
				<div class="header-main">
					<div class="header-left">
							<div class="logo-name">
									 <a href="index.html"> <h1>Admin Panel</h1> 
									<!--<img id="logo" src="" alt="Logo"/>--> 
								  </a> 								
							</div>
							<!--search-box-->
								<div class="search-box">
									<form>
										<input type="text" placeholder="Search..." required="">	
										<input type="submit" value="">					
									</form>
								</div><!--//end-search-box-->
							<div class="clearfix"> </div>
						 </div>
						 <div class="header-right">
						
						
							<div class="profile_details">		
								<ul>
									<li class="dropdown profile_details_drop">
									
											
												<span class="prfil-img"><img src="images/p1.png" alt=""> </span> 
												<div class="user-name">
													<a href="/admin-logout"><i class="fa fa-arrow-right"></i></a>
												</div>
												
												
										
									
									</li>
								</ul>
							</div>
							<div class="clearfix"> </div>				
						</div>
				     <div class="clearfix"> </div>	
				</div>




{{!-- 
<!DOCTYPE html>
<html lang="en">
    <head>
       {{>styleing}}
    </head>
    <body>
        <!-- HEADER -->
        <div id="header-admin">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-offset-3 col-md-5">
                       <div class="input-group">
                          <input type="text" name="search" id='search-input'class="form-control" style="width: 30rem;" placeholder="Search .....">
                          <span class="input-group-btn">
                        </span>
                       </div>
                 
                    </div> 
                    <div class="col-md-offset-3  col-md-1">
                    
            


                        <a href="/admin-logout" class="admin-logout" >Logout</a>
                        
                    </div>
                  
                   
                    <!-- /LOGO-Out -->
                </div>
            </div>
        </div>
        <!-- /HEADER -->
        <!-- Menu Bar -->
        <div id="admin-menubar">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                       <ul class="admin-menu">
                           <li>
                                <a href="/category">Category</a>
                            </li>
                            <li>
                                <a href="/sub-category">Sub Category</a>
                            </li>
                           <li>
                                <a href="/add-products">Products</a>
                            </li>
                            
                            <li>
                                <a href="/users">Users</a>
                            </li>
                            <li>
                                <a href="/add-admin">Admins</a>
                            </li>
                            <li>
                                <a href="/add-slider-img">Slider Images</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                    <div class='col-md-1'>
                       
                    </div>
                     
                </div>
            </div>
        </div>
        <!-- /Menu Bar --> --}}
