
<div class="container-fluid" id="header-admin" style="margin: 0px;" >
   <div class="row">
       <div class="col-md-12" style="text-align: center;font-size:10px;">  All the Copyright Reservd by||</div>
   </div>
</div>