<!DOCTYPE html>
<html lang="en">
    <head>
       {{>styleing}}
    </head>
    <body>
        <!-- HEADER -->
        <div id="header-admin">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-offset-1 col-md-4">
                         <form class="search-post">
                       <div class="input-group">
                          <input type="text" name="search" id='product-search' class="form-control" placeholder="Search .....">
                          <span class="input-group-btn">
                             <button type="submit" class="btn search-btn">Search</button>
                          </span>
                       </div>
                  </form>
                    </div>
     
                 
                  <div class="col-md-offset-2 col-md-1">
               
                        <a href='/shop' class="admin-logout" id='storebtn'><i class="fas fa-store"></i></a>
            </div>
                    <div class="col-md-1">
                          <a href="/cart"><p class='cart-det admin-logout'style='font-size:10px;'></p><i class="fal fa-shopping-cart admin-logout"></i></a>
                    </div>

                        <div class="col-md-2 loginuser">
                       
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><l class="fa fa-user"></l></a>
          <ul class="dropdown-menu">
            <li><a href='#'  id='loginbtn'>Login<span class="glyphicon  pull-right"><i class="far fa-user"></i></span></a></li>
            
            <li class="divider"></li>
            <li><a href="/logout" >Sign out<span class="glyphicon  pull-right"><i class="fas fa-sign-out-alt"></i></span></a></li>
          </ul>
        </li>
      </ul>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <!-- /LOGO-Out -->
                </div>
            </div>
        </div>
        <!-- /HEADER -->
        <!-- Menu Bar -->
        <div id="admin-menubar">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                       <ul class="admin-menu">
                           <li>
                                <a href="/">home</a>
                            </li>
                           
                            <li>
                                <a href="/order">Orders</a>
                            </li>
                            <li>
                                <a href="/history">History</a>
                            </li>
                        </ul>
                    </div>
                    <div class='col-md-1'>
                        <ul>
                        <li>
                              
                            </li>
                        </ul>
                    </div>
                     
                </div>
            </div>
        </div>
        <script src="./popup.js"></script>
          <script src='./jquery.min.js'></script>
    <script>
      $(document).ready(function(){
        
            
           $.ajax({
                 url:'/total-cart-product',
                 type:'POST',
                 success:function(data){
                     if(data>=0){
                    $('.cart-det').text(data);
                     }
                }
             })
            $.ajax({
                url:'/auth',
                type:"POST",
                success:function(data){
                    if(data!=undefined || data!=''){
                       
                        $('.dropdown-toggle').text(data);
                    }
                    
                }
            })
          
        });
      
    </script>
        <!-- /Menu Bar -->
