<!DOCTYPE html>
<html lang="en">
    <head>
       {{>styleing}}
    </head>
    <body>
        <!-- HEADER -->
        <div id="header-admin">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-offset-2 col-md-5">
                         <form class="search-post" action="search.php" method ="GET">
                       <div class="input-group">
                          <input type="text" name="search" class="form-control" placeholder="Search .....">
                          <span class="input-group-btn">
                             <button type="submit" class="btn btn-primary">Search</button>
                          </span>
                       </div>
                  </form>
                    </div>
                    <div class="col-md-offset-2  col-md-1">
                    
            


                        <a href="/logout" class="admin-logout" >Logout</a>
                    </div>
                     <div class="col-md-1">
               
                        <a href='#' class="admin-logout" id='loginbtn'>Login</a>
                    </div>
                    <div class="col-md-1">
                          <a href="/cart"><p class='cart-det admin-logout'>1</p><i class="fal fa-shopping-cart admin-logout"></i></a>
                    </div>
                    <!-- /LOGO-Out -->
                </div>
            </div>
        </div>
        <!-- /HEADER -->
        <!-- Menu Bar -->
        <div id="admin-menubar">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                       <ul class="admin-menu">
                           <li>
                                <a href="/">home</a>
                            </li>
                           
                            <li>
                                <a href="/order">Orders</a>
                            </li>
                            <li>
                                <a href="/history">History</a>
                            </li>
                        </ul>
                    </div>
                    <div class='col-md-1'>
                        <ul>
                        <li>
                              
                            </li>
                        </ul>
                    </div>
                     
                </div>
            </div>
        </div>
        <script src="./popup.js"></script>
        <!-- /Menu Bar -->
