<!DOCTYPE html>
<html lang="en">
    <head>
       {{>styleing}}
    </head>
    <body>
        <!-- HEADER -->
        <div id="header-admin">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    
                    <!-- /LOGO -->
                      <!-- LOGO-Out -->
                    <div class="col-md-offset-11  col-md-1">
                        <a href="logout.php" class="admin-logout" >logout</a>
                        
                    </div>
                    <!-- /LOGO-Out -->
                </div>
            </div>
        </div>
        <!-- /HEADER -->
        <!-- Menu Bar -->
        <div id="admin-menubar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                       <ul class="admin-menu">
                            <li>
                                <a href="post.php"><i class='fa fa-shopping-cart'></i></a>
                            </li>
                            <li>
                                <a href="category.php">Orders</a>
                            </li>
                            <li>
                                <a href="users.php">Products</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Menu Bar -->
