<!DOCTYPE html>
<html lang="en">
    <head>
       {{>styleing}}
    </head>
    <body>
        <!-- HEADER -->
        <div id="header-admin">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-offset-2 col-md-5">
                         <form class="search-post" action="search.php" method ="GET">
                       <div class="input-group">
                          <input type="text" name="search" class="form-control" placeholder="Search .....">
                          <span class="input-group-btn">
                             <button type="submit" class="btn btn-primary">Search</button>
                          </span>
                       </div>
                  </form>
                    </div>
                    <div class="col-md-offset-4  col-md-1">
                    
            


                        <a href="/shop-logout" class="admin-logout" >Logout</a>
                    </div>
                  
                   
                    <!-- /LOGO-Out -->
                </div>
            </div>
        </div>
        <!-- /HEADER -->
        <!-- Menu Bar -->
        <div id="admin-menubar">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                       <ul class="admin-menu">
                           <li>
                                <a href="/ourorders">home</a>
                            </li>
                           
                            <li>
                                <a href="/add-product">Add product</a>
                            </li>
                            <li>
                                <a href="/view-product">view Product</a>
                            </li>
                            <li>
                                <a href="/total-selling">selling</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                    <div class='col-md-1'>
                       
                    </div>
                     
                </div>
            </div>
        </div>
        <!-- /Menu Bar -->
