<!DOCTYPE html>
<html lang="en">
    <head>
       {{>styleing}}
    </head>
    <body>
        <!-- HEADER -->
        <div id="header-admin">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-offset-11  col-md-1">
                        <a href="/signup" class="admin-logout" >logout</a>
                        
                    </div>
                    <!-- /LOGO-Out -->
                </div>
            </div>
        </div>
        <!-- /HEADER -->
        <!-- Menu Bar -->
        <div id="admin-menubar">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                       <ul class="admin-menu">
                           <li>
                                <a href="/ourorders">home</a>
                            </li>
                           
                            <li>
                                <a href="/add-product">Add product</a>
                            </li>
                            <li>
                                <a href="/history">view Product</a>
                            </li>
                            <li>
                                <a href="/history">selling</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                    <div class='col-md-1'>
                       
                    </div>
                     
                </div>
            </div>
        </div>
        <!-- /Menu Bar -->
