<html>
<head>
    <link rel="stylesheet" href='css/style.css'>
    <link rel='stylesheet' href="css/bootstrap.min.css">
</head>
<div id="sidebar" class="col-md-4">
    <!-- search box -->
    <div class="search-box-container">
        <h4>Search</h4>
        <form class="search-post" action="search.php" method ="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search .....">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-danger">Search</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /search box -->
    <!-- recent posts box -->
    <div class="recent-post-container">
        <h4>Products</h4>
        <div class="recent-post">
            <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
                     {{!-- for ratings  --}}
            </a>
           
            <div class="post-content">
                <h5><a href="/product-list">flange</a></h5>
                <span>
                    Price:20,000
                </span><br>
                 <span>shop name</span>
                  <a class="read-more" href="single.php">Add to cart</a>
                  <div class="stars-outer">
                   <div class="stars-inner">
                   <i class="far fa-star" id='star-1'></i>
                   <i class="far fa-star" id='star-2'></i>
                   <i class="far fa-star" id='star-3'></i>
                   <i class="far fa-star" id='star-4'></i>
                   <i class="far fa-star" id='star-5'></i>
                   </div>
              </div>
              
            </div>
        </div>
        <div class="recent-post">
            <a class="post-img" href="">
                <img src="images/post_1.jpg" alt=""/>
            </a>
            <div class="post-content">
                <h5><a href="single.php">Lorem ipsum dolor sit amet</a></h5>
                <span>
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    <a href='category.php'>Html</a>
                </span>
                <span>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    01 Nov, 2019
                </span>
                <a class="read-more" href="single.php">Add to cart</a>
            </div>
        </div>
        <div class="recent-post">
            <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
            </a>
            <div class="post-content">
                <h5><a href="single.php">Lorem ipsum dolor sit amet</a></h5>
                <span>
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    <a href='category.php'>Html</a>
                </span>
                <span>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    01 Nov, 2019
                </span>
                <a class="read-more" href="single.php">read more</a>
            </div>
        </div>
        <div class="recent-post">
            <a class="post-img" href="">
                <img src="images/post_1.jpg" alt=""/>
            </a>
            <div class="post-content">
                <h5><a href="single.php">Lorem ipsum dolor sit amet</a></h5>
                <span>
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    <a href='category.php'>Html</a>
                </span>
                <span>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    01 Nov, 2019
                </span>
                <a class="read-more" href="single.php">read more</a>
            </div>
        </div>
        <div class="recent-post">
            <a class="post-img" href="">
                <img src="images/post-format.jpg" alt=""/>
            </a>
            <div class="post-content">
                <h5><a href="single.php">Lorem ipsum dolor sit amet</a></h5>
                <span>
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    <a href='category.php'>Html</a>
                </span>
                <span>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    01 Nov, 2019
                </span>
                <a class="read-more" href="single.php">read more</a>
            </div>
        </div>
    </div>
    <!-- /recent posts box -->
</div>
</body>
</html>