 <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>ADMIN Panel</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="./bootstrap.min.css" />
        <!-- Font Awesome Icon -->
        <link rel="stylesheet" href="./font-awesome.css">
        <!-- Custom stlylesheet -->
        <link rel="stylesheet" href="./style.css">