



 #upload_button input[type=file] {
  display:none;
  margin:10px;
  }
  #upload_button input[type=file] + label {
  display:inline-block;
  margin-right:20px;
  padding: 4px 32px;
  background-color: #FFFFFF;
 
  border-radius: 6px;
  color:#666F77;

  }
   input[type=file]:active + label {
  background-image: none;
 
  background-color:#2D6C7A;
  color:#FFFFFF;
  }
 
  #upload-container{
    border:2px solid grey;
    padding:3px; 
    height:13rem; 
    width:13rem;
    float: right;
    margin-top:50px;
    margin-right:10px;
    left:0;
    margin-bottom: 10px;

  
  }

 #upload-container img{
  
    height:100%;
    border: 1px solid black;
    width:10%;
    float:left;
    cursor: pointer ;
    display: none;
  
  }
  .fa-remove{
    display: none;
  
    font-size: 30px;
 

  }


