



 #upload_button input[type=file] {
  display:none;
  
  }
  #upload_button input[type=file] + label {
  display:inline-block;
  
  margin-right:20px;
  padding: 4px 32px;
  background-color: #FFFFFF;
 
  border-radius: 6px;
  color:#666F77;

  }

 
  #upload-container{
    border:2px solid grey;
    padding:3px; 
    height:10rem; 
    width:8rem;
    float: right;
    margin-top:6px;
    margin-right:8px;
    left:0;
    margin-bottom: 5px;
    

  
  }

 #upload-container img{
  
    height:100%;
    border: 1px solid black;
    width:10%;
    float:left;
    cursor: pointer ;
    display: none;
  
  }
  .fa-remove{
    display: none;
    font-size: 30px;
 

  }


